<!DOCTYPE html>
<html>
    <!-- any information related to the project the meta data -->
    <head>
        <title>Hacker Planner App</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <!-- what u see when you navigate to the page -->
    <body>
        <div class="container">
            <!-- largest text in the project -->
            <h1>Hack Planner</h1>
            <!-- unordered list hence the dots -->
            <ul class="checklist-items">
                <!-- That's how we let html know that we are using the information in this template coming from  the backend. Its a unique element in flask telling html to fill in whatever is given to it from the backend -->
                {% for item in items %}
                <li>
                    {{item[1]}}
                    <a href="/edit/{{item[0]}}">Edit</a>
                    <a href="/delete/{{item[0]}}">Delete</a>
                    <button onclick="setReminder('{{item[1]}}')">Remind Me</button>
                </li>
                {% endfor %}
            </ul>
            <form class="add-form" action="/add" method="post">
                <input type="text" name="item" placeholder="Enter item ">
                <button type="submit">Add</button>
            </form>
        </div>
        <script>
            // sending information from the send_email path
            function sendReminderEmail(item){
                fetch('/send_email',{
                    method:'POST',
                    // the metadata for the request
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({
                        item:item
                    })
                }) 
                .then(response =>{
                        if(response.ok){
                            console.log("Reminder email sent successfully.")
                        }else{
                            console.log("Failed to send reminder email.")
                        }
                })
                .catch(error=>{
                    console.error("Error occured",error);
                })

            }
            function setReminder(item){
                setTimeout(function(){
                    var reminder = confirm("Reminder: " + item)
                }, 5 * 1000); //5 seconds in milliseconds
                sendReminderEmail(item)
            }
        </script>
    </body>
</html>